@*@model Models.Employee*@

@{
    ViewBag.Title = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h1>Asp.Net MVC WebApp using Stored Procedure with Dapper.</h1>

</div>

<hr class="featurette-divider">


<div class="row col-xs-12">
    <div class="box">
        <main>

            <div class="container marketing">


                <div class="row">
                    <div class="float-container">

                        <div class="float-child">
                            <div class="centerDiv">
                                <marquee width="35%" behavior="scroll" scrolldelay: 80; direction="right"><h1 class="count"><b>@ViewBag.employeeCount</b></h1></marquee>
                                <h2>Employees</h2>
                                <p> Total Employees count currently stored in this EMS. </p>
                                <p><a class="btn btn-outline-info" href="/Employee/List">View details</a></p>
                            </div>
                        </div>

                        <div class="float-child">
                            <div class="centerDiv">
                                <marquee width="35%" behavior="scroll" scrolldelay: 80; direction="right"><h1 class="count"><b>@ViewBag.departmentCount</b></h1></marquee>
                                <h2>Departments</h2>
                                <p>Total Departments count currently operating in this EMS.</p>
                                <p><a class="btn btn-outline-info" href="/Department/List">View details</a></p>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </main>

    </div >

</div>
