@model IEnumerable<Models.Department>

@{
    ViewData["Title"] = "DepartmentAPI List";
}

<h1>Department List</h1>

<p>
    <a class="btn btn-success" asp-controller="Department"asp-action="Create">New Department</a>
</p>
<table class="table" id="tblDepartment">
    <thead>
        <tr>
            <th>
                S.N.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department_Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            ShowAllDepartment();

            /* Function to fetch Department Data */
            function ShowAllDepartment() {
                $.ajax({
                    url: "https://localhost:44372/api/DAPI/",
                    type: "get",
                    contentType: "application/Json",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            console.log(item)
                            var rows = "<tr>" +
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + item.department_Name + "</td>" +
                                "<td> <a class='btn btn-secondary' href='/Department/Edit/" + item.department_Id + "'>Edit</a> || <a class='btn btn-danger' onclick='confirmDelete(" + item.department_Id + ")'> Delete </a ></td>"
                            "</tr>";
                            $('#tblDepartment tbody').append(rows);


                        });
                        console.log(data);
                    }, // end of AJAX Success Function

                    failure: function (data) {
                        alert(data.responseText);
                    }, // End of AJAX failure function
                    error: function (data) {
                        alert(data.responseText);
                    } // End of AJAX error function

                });
            }
        });        

        /*to show delete confirmation dialog box*/
        function confirmDelete(itemId) {

            $('#hdnEmployeeId').val(itemId);
            $('#exampleModal').modal('show');
        }
    </script>

}
